@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Diet";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i> Forms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Form-Elements</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Diet/DietList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Diet List
        </a>

    </div>
</div>
<!-- PAGE-HEADER END -->
<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Diet Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Patient Name</label>
                                <input type="text" class="form-control" id="patientname" placeholder="Patient Name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Hospital</label>
                                <select class="form-control" id="hospitalid" disabled></select>
                            </div>
                            <div class="form-group">
                                <div class="form-group overflow-hidden">
                                    <label class="form-label">Select Floor</label>
                                    <select class="form-control" id="Floors">
                                        <option value="SelectFloor">Select Floor</option>
                                        <option value="GroundFloor">Ground Floor</option>
                                        <option value="FirstFloor">First Floor</option>
                                        <option value="SecondFloor">Second Floor</option>
                                        <option value="ThirdFloor">Third Floor</option>
                                        <option value="FourthFloor">Fourth Floor</option>
                                        <option value="FifthFloor">Fifth Floor</option>
                                        <option value="SixthFloor">Sixth Floor</option>
                                        <option value="SeventhFloor">Seventh Floor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group overflow-hidden">
                                    <label class="form-label">Bed No</label>
                                    <select class="form-control" id="bedno"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Type Of Patient</label>
                                <select id="TypeofPatient" class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Service Type</label>
                                <select class="form-control" id="servicetype">
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Diet Type</label>
                                <select id="Diettype" class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Special Instruction</label>
                                <textarea type="text" class="form-control" id="specification" placeholder="Special Instruction.."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" id="btnSave" class="btn btn-radius btn-success">Update</button>
                            <a type="button" href="/Diet/DietCreate" class="btn btn-radius btn-danger">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var dietMasterId = @ViewBag.dietMasterId
            loadSingleDiet()
        function loadSingleDiet() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/DIETMaster/GetSingleDietId/" + dietMasterId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    if (data) {
                        $('#patientname').val(data.patientName);
                        HospitalList(data.hospitalMasterid);
                        GetBedList(data.bedId);
                        $('#Floors').val(data.floorsName);
                        PatientList(data.patientTypeId);
                        ServiceTypeList(data.foodServiceTypeId);
                        GetDietList(data.dietTypeId);
                        $('#specification').val(data.specialInstruction);
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function HospitalList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Hospital/GetHospitalByUserId/" + @Context.Session.GetInt32("UserId"),
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    var options = [];
                    options.push('<option value="">Select Hospital</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].hospitalMasterid) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].hospitalMasterid + '" ' + opt + '>' + res.data[i].hospitalName + '</option>');
                    }
                    $("#hospitalid").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#Floors").change(function () {
            var hospitalMasterid = $("#hospitalid").val()
            Floors = $("#Floors").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/Bed/GetBedByFloorName/' + Floors + '/' + hospitalMasterid,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    console.log(data)
                    options.push('<option>Select Bed </option>');
                    for (var i = 0; i < data['data'].length; i++) {

                        options.push('<option value="' + data['data'][i].bedMasterId + '" ' + opt + '>' + data['data'][i].bedNo + '</option>');
                    }
                    $("#bedno").html(options.join(''));

                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });

        function PatientList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/PatientType/GetPatientTypeList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select Type of Patient</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].patientTypeId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].patientTypeId + '" ' + opt + '>' + res.data[i].typeOfPatient + '</option>');
                    }
                    $("#TypeofPatient").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function ServiceTypeList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/FoodServiceType/GetFoodServiceTypeList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select Service Type</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].foodServiceTypeId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].foodServiceTypeId + '" ' + opt + '>' + res.data[i].foodServiceTypeName + '</option>');
                    }
                    $("#servicetype").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function GetDietList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/DietType/GetDietTypeList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {

                    var options = [];
                    options.push('<option value="">Select Diet Type</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].dietTypeId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].dietTypeId + '" ' + opt + '>' + res.data[i].dietTypeName + '</option>');
                    }
                    $("#Diettype").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function GetBedList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Bed/GetBedList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    var options = [];
                    options.push('<option value="">Select Bed</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].bedMasterId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].bedMasterId + '" ' + opt + '>' + res.data[i].bedNo + '</option>');
                    }
                    $("#bedno").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $(function () {

            $("#btnSave").click(function (e) {

                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();
                }
                else {
                    var model = {
                        patientName: $.trim($("#patientname").val()),
                        hospitalMasterid: parseInt($("#hospitalid").val()),
                        floorsName: $.trim($("#Floors").val()),
                        bedId: parseInt($("#bedno").val()),
                        patientTypeId: parseInt($("#TypeofPatient").val()),
                        foodServiceTypeId: parseInt($("#servicetype").val()),
                        dietTypeId: parseInt($("#Diettype").val()),
                        specialInstruction: $.trim($("#specification").val()),
                        createdBy: @Context.Session.GetInt32("UserId"),
                    }
                    console.log(model)
                    $.ajax({
                        type: "POST",
                        url: "@apiUrl/api/DIETMaster/CreateDiet",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            if (xhr.status === 200) {
                                sweetAlert({
                                    html: true,
                                    icon: "success",
                                    title: "Diet",
                                    text: "Successfully Updated!",
                                    type: "success"
                                });
                            } else if (data.status === "duplicate") {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else if (data.status === "error") {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            } else if (data.status == 400) {
                                sweetAlert("Validation Alert!", "Please check input data!", "warning");
                            }
                        }
                    });
                }
            });
        });
    </script>
}
